<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Warning!</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/timeline-style.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<h2>Your account will be deleted permanently.</h2>
<div class="col-md-2">
<a href="/" class="profile-edit-btn btn btn-danger">Confirm</a><a href="/login" class="profile-edit-btn btn btn-link">Cancel</a>

</div>
</body>
</html>