<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/timeline-style.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<!--
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
-->
</head>
<body>
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <br>
                    <img src="https://wj32.org/processhacker/forums/styles/canvas/theme/images/no_avatar.jpg"
                         height="245" width="220" alt=""/><br>

                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        Hello <span th:text="${user.firstName}"></span><br>
                        Welcome to our social network!<br><br><br><br><br><br>
                    </h5>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <br>
<!--                <input type="submit" class="profile-edit-btn btn btn-danger" name="btnAddMore" value="Delete profile"/>-->
                <a href="/delete" class="profile-edit-btn btn btn-danger">Delete profile</a>
                <br><br>
                <input type="submit" class="profile-edit-btn btn btn-primary" name="btnAddMore" value="Logout"/>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <br>
                    <p>Links</p>
                    <a href="feed.html">Feed</a><br/>
                    <a href="user-list.html">List of users</a><br/>
                    <a href="friend-list.html">My friends</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>User Id</label>
                            </div>
                            <div class="col-md-6">
                                <p><span th:text="${user.userId}"></span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p><span th:text="${user.firstName}" ></span>
                                    <span th:text="${user.lastName}" ></span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p><span th:text="${user.email}"></span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Gender</label>
                            </div>
                            <div class="col-md-6">
                                <p><span th:text="${user.gender}"></span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Date of birth</label>
                            </div>
                            <div class="col-md-6">
                                <p><span th:text="${user.dob}"></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <!--<div class="row">
                            <div class="col-md-6">
                                <label>Experience</label>
                            </div>
                            <div class="col-md-6">
                                <p>Expert</p>
                            </div>
                        </div>-->
                        <div th:each="post : ${posts}" th:insert="post :: postFragment"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>



